# dependencies
node_modules
.pnp
.pnp.js
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
*.tsbuildinfo

ui/core/index.ts
ui/*/*/index.html
.dirstamp
.vscode/launch.json
# IDE folders
.idea
.history

# binaries
dist
binary_dist
sim/web/__debug_bin
/wowsimcatacli*
/wowsimcata*

# temporary files
*.results.tmp
#.dockerignore
/cata/
*.code-workspace
wowsimcata

# old result file
TestAPL.results

#macos
.DS_Store

# air tmp dir
tmp/

# lib
wowsimcata*.so
wowsimcata*.dll
wowsimcata*.h
