# nodejs modules
node_modules

ui/core/index.ts
ui/*/*/index.html
.dirstamp
.vscode/launch.json
# IDE folders
.idea
.history

# binaries
dist
binary_dist
sim/web/__debug_bin
/wowsimcatacli*
/wowsimcata*

# temporary files
*.results.tmp
package.json.tmp

#.dockerignore
/cata/
*.code-workspace
wowsimcata
wowsimcli

# old result file
TestAPL.results

#macos
.DS_Store

# air tmp dir
tmp/

# lib
wowsimcata*.so
wowsimcata*.dll
wowsimcata*.h
