.player-damage-row {
	cursor: pointer;
}

.amount-header-cell, .amount-cell {
	text-align: center !important;
}

.name-cell {
	width: 250px;
}

.dps-cell {
	max-width: 250px;
	min-width: 80px;
}

.amount-cell {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 35px;
	width: auto;
	margin: auto;
}

.player-damage-percent {
	display: inline-block;
	margin: 0 10px;
	width: 75px;
	text-align: right;
}

.player-damage-bar-container {
	display: inline-block;
	flex-grow: 1;
}

.player-damage-bar {
	height: 25px;
}

.player-damage-total {
	display: inline-block;
	margin: 0 10px;
}
