@import '../raid_sim_action';

.topline-results-root {
	padding-bottom: var(--gap-width);

	.metrics-table {
		width: max-content;
		max-width: 100%;
		width: 100%;
		table-layout: fixed;
	}

	.metrics-table-header-row {
		border-bottom: 0;
	}

	.metrics-table-body {
		tr {
			border-bottom: 0;

			&:hover {
				background-color: transparent;
			}
		}
	}
}
