@import '../raid_sim_action';

.topline-results-root {
	padding-bottom: var(--gap-width);
	// display: flex;
	// justify-content: space-around;

	.metrics-table {
		width: max-content;
		max-width: 100%;
		width: 100%;
		table-layout: fixed;
	}
	.metrics-table-body {
		tr {
			border-bottom: 0;

			&:hover {
				background-color: transparent;
			}
		}
	}
}
