.bulk-item-picker.item-picker-root {
	padding: var(--spacer-2);
	border: var(--border-default);
	margin-bottom: 0 !important;

	.item-picker-icon-wrapper {
		min-width: 3rem;
		min-height: 3rem;
		width: 3rem;
		height: 3rem;
	}

	.gem-socket-container {
		--gem-width: 1rem;
	}

	.item-picker-labels-container {
		padding-top: 0;
		overflow: hidden;

		.item-picker-name-container {
			max-width: 100%;
			display: flex;

			.item-picker-name {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}

	.remove-batch-item-btn {
		@extend .btn;
		@extend .btn-sm;
		@extend .btn-reset;

		margin-right: calc(-1 * var(--spacer-2));
		margin-top: calc(-1 * var(--spacer-2));
		align-self: flex-start;
	}
}
