.apl-actionid-item-icon {
  display: inline-block;
  width: var(--icon-size-sm);
  height: var(--icon-size-sm);
  margin-right: var(--spacer-1);
  background-size: cover;
}

.apl-picker-builder-root {
  flex-direction: row;
  width: auto;
}

.apl-unit-picker {
  margin: auto 0.5rem auto 0 !important;
}
