.consumes-picker-root {
	display: grid;
	flex-wrap: wrap;

	.consumes-row {
		.consumes-row-inputs {
			display: grid;
			grid-auto-flow: column;
			gap: var(--spacer-1);
			align-items: center;

			& > * {
				margin-bottom: 0;
			}
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.elixir-space {
		width: var(--icon-size-md);
		text-align: center;
	}
}
