@use 'sass:map';

.consumes-picker-root {
	display: grid;
	flex-wrap: wrap;

	@include media-breakpoint-between(sm, xl) {
		column-gap: $block-spacer;
		grid-template-columns: repeat(2, 1fr);
	}

	.consumes-row {
		.consumes-row-inputs {
			display: grid;
			grid-auto-flow: column;
			gap: map-get($spacers, 1);
			align-items: center;

			& > * {
				margin-bottom: 0;
			}
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.elixir-space {
		width: $icon-size-md;
		text-align: center;
	}
}
