@import './consumes_picker';
@import './cooldowns_picker';

.settings-tab {
	.tab-panel-left {
		@include media-breakpoint-up(xl) {
			grid-template-columns: 1fr 1fr 1.25fr;
		}
	}

	.rotation-settings,
	.other-settings {
		.input-root {
			label {
				width: 60%;
				padding-right: 0.5rem;
			}

			input:not(.form-check-input),
			select,
			.picker-group {
				min-width: 40%;
			}
		}
	}

	.cooldown-settings {
		.cooldown-timings-picker {
			min-width: 40%;
			width: 40%;
		}
	}

	.buffs-settings,
	.debuffs-settings {
		.content-block-body {
			display: grid;
			grid-template-columns: repeat(3, minmax(0, 1fr));

			& > .icon-picker {
				margin-bottom: var(--spacer-1) !important;

				&:not(:nth-child(3n)) {
					margin-right: var(--spacer-2);
				}

				.form-label {
					white-space: normal;
				}
			}
		}
	}
}
