@import './consumes_picker';
@import './cooldowns_picker';

.settings-tab {
	.tab-pane-content-container {
		@include media-breakpoint-down(xxl) {
			flex-direction: column;
		}

		.tab-panel-left {
			@include media-breakpoint-down(xxl) {
				margin-right: 0 !important;
			}

			@include media-breakpoint-down(xl) {
				flex-wrap: wrap;
			}

			.tab-panel-col {
				flex: 2;

				@include media-breakpoint-down(xl) {
					flex-basis: 100%;
					margin-right: 0 !important;
				}

				&:last-child {
					flex: 3;
				}
			}
		}

		.tab-panel-right {
			@include media-breakpoint-down(xxl) {
				margin-left: 0 !important;
			}
		}
	}

	.content-block {
		.content-block-body {
			& > .input-root:last-child {
				margin-bottom: 0;
			}

			& > .picker-group:last-child {
				& > .input-root {
					margin-bottom: 0;

					&:not(:last-child) {
						@include media-breakpoint-down(xl) {
							margin-bottom: var(--block-spacer);
						}
					}
				}
			}
		}
	}

	.rotation-settings,
	.other-settings {
		.input-root {
			label {
				width: 60%;
				padding-right: 0.5rem;
			}

			input:not(.form-check-input),
			select,
			.picker-group {
				min-width: 40%;
			}
		}
	}

	.cooldown-settings {
		.cooldown-timings-picker {
			min-width: 40%;
			width: 40%;
		}
	}

	.buffs-settings,
	.debuffs-settings {
		.content-block-body {
			display: grid;
			grid-template-columns: repeat(3, minmax(0, 1fr));

			& > .icon-picker {
				margin-bottom: var(--spacer-1) !important;

				&:not(:nth-child(3n)) {
					margin-right: var(--spacer-2);
				}

				.form-label {
					white-space: normal;
				}
			}
		}
	}
}
