.assigned-buff-picker-root {
	&:not(:last-child) {
		margin-bottom: var(--section-spacer);
	}

	.assigned-buff-player {
		display: flex;

		&:not(:last-child) {
			margin-bottom: var(--block-spacer);
		}
	}

	.assigned-buff-arrow {
		margin: 0 var(--block-spacer);
	}
}
