.raid-picker-root {
	display: flex;
	flex-direction: column;

	.raid-controls,
	.new-player-picker-root,
	.parties-container {
		margin-bottom: var(--section-spacer);
		display: grid;
		grid-gap: var(--block-spacer);
	}

	.raid-controls {
		grid-template-columns: repeat(3, 1fr);

		@include media-breakpoint-down(md) {
			grid-template-columns: 1fr;
		}

		& > * {
			margin-bottom: 0;
		}
	}

	.new-player-picker-root {
		margin-bottom: var(--section-spacer);
		grid-template-columns: repeat(5, 1fr);

		@include media-breakpoint-down(md) {
			grid-template-columns: repeat(3, 1fr);
		}

		@include media-breakpoint-down(sm) {
			grid-template-columns: repeat(2, 1fr);
		}

		.class-presets-container {
			padding: var(--spacer-1) 0;
			border-radius: var(--spacer-1);
			display: flex;
			justify-content: space-evenly;
		}
	}

	.parties-container {
		grid-row-gap: var(--section-spacer);
	}

	.parties-container-small {
		grid-template-columns: repeat(2, 1fr);
	}

	.parties-container-full {
		grid-template-columns: repeat(3, 1fr);

		@include media-breakpoint-down(sm) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}

.party-picker-root {
	&:not(.active) {
		opacity: 0.5;
	}

	.party-header {
		display: flex;
		justify-content: space-between;

		.party-label {
			font-weight: bold;
			cursor: pointer;
		}
	}

	.players-container {
		display: grid;
		grid-gap: var(--spacer-1);
	}
}

.player-picker-root {
	.player-options {
		display: flex;
		align-items: center;

		& > :not(:last-child) {
			margin-right: var(--spacer-1);
		}
	}
}

.party-results {
	margin-bottom: var(--spacer-1);
	line-height: 1rem;
}

.party-results,
.player-results {
	display: flex;
	align-items: flex-end;
	font-size: var(--content-font-size);
}

.party-results-reference-delta,
.player-results-reference-delta {
	margin-left: var(--spacer-1);
	font-size: 0.75rem;
	line-height: 0.875rem;
}
