.raid-settings-tab {
  .consumes-settings {
    .content-block-body {
      align-items: flex-start;
    }

    .consumes-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: var(--spacer-1);
    }
  }
}
