@import '../components/icon_picker';

.glyphs-picker-root {
	display: flex;
	flex-direction: column;

	.content-block {
		margin-bottom: $section-spacer;

		.content-block-body {
			padding: map-get($spacers, 3);
			border: $border-default;
			flex-direction: row;
			background-color: $body-bg;
		}
	}
}

.glyph-picker-root {
	margin-bottom: 0 !important;
	flex-direction: row;
	flex: 1;

	.item-picker-icon {
		@include wowhead-background-icon;
		width: 3rem;
		height: 3rem;
		border: $border-default;
	}

	.item-picker-labels-container {
		padding: 0 map-get($spacers, 3) 0 map-get($spacers, 2);
		justify-content: center;

		.item-picker-name {
			white-space: normal;
		}
	}
}

.glyph-modal {
	.selector-modal-list-item-link {
		flex: 1;
	}

	.selector-modal-list-item-name {
		flex: 2;
	}

	.selector-modal-list-item-description {
		margin-left: 1rem;
		letter-spacing: normal;
		color: $item-quality-junk;
		flex: 3;
	}
}
