@import '../components/icon_picker';

.glyphs-picker-root {
	display: flex;
	flex-direction: column;

	.content-block {
		margin-bottom: var(--section-spacer);

		.content-block-body {
			padding: var(--spacer-3);
			border: var(--border-default);
			flex-direction: row;
			background-color: var(--bs-body-bg);
		}
	}
}

.glyph-picker-root {
	margin-bottom: 0 !important;
	flex-direction: row;
	flex: 1;

	.item-picker-icon {
		@include wowhead-background-icon;
		width: 3rem;
		height: 3rem;
		border: var(--border-default);
	}

	.item-picker-labels-container {
		padding: 0 var(--spacer-3) 0 var(--spacer-2);
		justify-content: center;

		.item-picker-name {
			white-space: normal;
		}
	}
}

.glyph-modal {
	.selector-modal-list-item-link {
		flex: 1;
	}

	.selector-modal-list-item-name {
		flex: 2;
	}

	.selector-modal-list-item-description {
		margin-left: 1rem;
		letter-spacing: normal;
		color: var(--bs-junk);
		flex: 3;
	}
}
