@import '../components/icon_picker';

.glyphs-picker-root {
	display: grid;
	gap: var(--section-spacer);
	grid-template-columns: 1fr;
	padding-top: var(--spacer-2);

	@include media-breakpoint-between(md, 1080p) {
		width: 100%;
		gap: 0;
		grid-template-columns: repeat(2, 1fr);
		padding-top: 0;
	}

	.content-block {
		gap: 0;

		.content-block-body {
			display: grid;
		}
	}
}

.glyph-picker-root {
	margin-bottom: 0 !important;
	flex-direction: row;
	flex: 1;

	.glyph-link {
		display: flex;
		gap: var(--block-spacer);
	}

	.item-picker-icon {
		@include wowhead-background-icon;
		width: 3rem;
		height: 3rem;
		border: var(--border-default);
	}

	.item-picker-labels-container {
		padding: 0;
		justify-content: center;

		.item-picker-name {
			white-space: normal;
		}
	}
}

.glyph-modal {
	.selector-modal-list-item-link {
		flex: 1;
	}

	.selector-modal-list-item-name {
		flex: 2;
	}

	.selector-modal-list-item-description {
		margin-left: 1rem;
		letter-spacing: normal;
		color: var(--bs-junk);
		flex: 3;
	}
}
