.hunter-pet-talents-picker {
	display: flex;
	align-items: flex-start;

	&.cunning .hunter-pet-talents-cunning,
	&.ferocity .hunter-pet-talents-ferocity,
	&.tenacity .hunter-pet-talents-tenacity {
		display: initial !important;
	}

	.hunter-pet-talents-cunning,
	.hunter-pet-talents-ferocity,
	.hunter-pet-talents-tenacity {
		display: none;
	}

	.pet-type-picker {
		margin-top: calc(var(--bs-btn-font-size) + (2 * var(--btn-padding-y)) + (2 * var(--btn-border-width)) + var(--spacer-1));
	}
}

.pet-talents-container .saved-data-container {
	display: flex;
	justify-content: center;
}
