:root {
	--talent-tree-header-padding-x: var(--block-spacer);
	--talent-tree-header-padding-y: var(--block-spacer);
	--talent-tree-header-icon-size: 2rem;
	--talent-tree-header-size: calc(var(--talent-tree-header-icon-size) + 2 * var(--talent-tree-header-padding-y));

	--talent-icon-size: 2.5rem;
}

.talents-picker-root {
	width: unset;
	margin-right: var(--block-spacer);
	display: flex;
	flex-direction: column;

	@include media-breakpoint-down(xxxl) {
		width: 100%;
	}
	@include media-breakpoint-down(xxl) {
		margin-right: 0;
	}

	.talents-picker-header {
		width: 100%;
		margin-bottom: var(--spacer-1);
		display: flex;
		align-items: center;

		.talents-picker-actions {
			margin-left: auto;

			button.copy-talents {
				width: 6rem;
			}
		}
	}
	.talents-picker-inner {
		@include media-breakpoint-down(lg) {
			width: 100%;
		}
	}
}

#talents-carousel {
	flex: 1;
	margin-bottom: var(--section-spacer);
	@include media-breakpoint-down(lg) {
		display: flex;
		justify-content: center;
		overflow-x: hidden;
		margin-left: calc(-1 * var(--container-padding));
		margin-right: calc(-1 * var(--container-padding));
	}

	.carousel-inner {
		display: flex;
		overflow: unset;
		transform: unset;
		@include media-breakpoint-down(lg) {
			width: unset;
			min-width: unset;
			transition: transform 0.15s ease-in-out;
		}
	}

	.carousel-item {
		display: block;
		width: unset;
		margin-right: unset;
		float: unset;
		@include media-breakpoint-down(xxxl) {
			flex: 1;
		}

		@include media-breakpoint-down(lg) {
			opacity: 0.5;
			transition: opacity 0.15s ease-in-out;
		}

		&.active {
			@include media-breakpoint-down(lg) {
				opacity: 1;
			}
		}

		// Offset to keep the border sizes consistent
		&:not(:first-child) {
			margin-left: -1px;
		}
	}

	.carousel-control-prev,
	.carousel-control-next {
		@include media-breakpoint-up(lg) {
			display: none;
		}
	}
}

.talent-tree-picker-root {
	position: relative;
	border: var(--border-default);
	display: flex;
	flex-direction: column;
	flex: 1;

	&.disabled {
		filter: grayscale(1);
	}

	&:not(:first-child) {
		margin-left: -1px;
	}

	.talent-tree-header {
		padding: var(--talent-tree-header-padding-y) var(--talent-tree-header-padding-x);
		display: flex;
		align-items: center;
		color: var(--bs-white);
		background: var(--bs-black);
		font-size: 1rem;
		z-index: 1;

		.talent-tree-icon {
			width: var(--talent-tree-header-icon-size);
			height: var(--talent-tree-header-icon-size);
			margin-right: var(--talent-tree-header-padding-x);
			border-radius: 100%;
		}

		.talent-tree-title {
			margin-right: var(--talent-tree-header-padding-x);
			flex: 1;
			font-weight: bold;
			white-space: nowrap;
		}

		.talent-tree-reset {
			line-height: 1;
			margin-right: calc(-1 * var(--btn-padding-x));
		}
	}

	.talent-tree-background {
		position: absolute;
		inset: var(--talent-tree-header-size) 0 0 0;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		box-shadow: inset 0 0 var(--talent-tree-header-size) 1rem var(--bs-black);
		z-index: 0;
	}

	.talent-tree-main {
		display: grid;
		margin: var(--block-spacer) 2vw;
		z-index: 1;

		@include media-breakpoint-down(xxxl) {
			margin: var(--block-spacer) auto;
		}
		@include media-breakpoint-down(lg) {
			margin: var(--block-spacer) var(--talent-icon-size);
		}
	}
}

.talent-picker-root {
	@include wowhead-background-icon;
	width: var(--talent-icon-size);
	height: var(--talent-icon-size);
	margin: calc(var(--talent-icon-size) / 5);
	border: 1px solid var(--bs-talent-partial);
	border-radius: 4px;

	&[data-points='0']:not(.talent-picker-can-add) {
		filter: grayscale(100%);

		.talent-picker-points {
			filter: grayscale(100%);
		}
	}

	&.talent-full {
		border-color: var(--bs-talent-full);
		.talent-picker-points {
			color: var(--bs-talent-full);
		}
	}
}

.talent-picker-points {
	margin: 0;
	color: var(--bs-talent-partial);
	background-color: var(--bs-black);
	position: absolute;
	bottom: -8px;
	right: -8px;
	padding: 0px 2px;
	border-radius: 2px;
	font-size: 11px;

	.talent-picker-root[data-points='0']:not(.talent-picker-can-add) & {
		filter: grayscale(100%);
	}

	.talent-picker-root.talent-full & {
		color: var(--bs-talent-full);
	}

	.talents-picker-root.talents-full .talent-picker-root[data-points='0'] & {
		display: none;
	}
}

.icon-input:not(.active),
.icon-input-improved:not(.active),
.icon-input-counter:not(.active) {
	border-color: var(--bs-gray);
}

.talent-picker-req-arrow {
	background-repeat: no-repeat;
	position: relative;
	pointer-events: none;
}

.talent-picker-req-arrow-down {
	background-image: url('/cata/assets/talent_calc/down.png');
	background-position: bottom center;
	top: 3rem;
	height: 1.3rem;

	&[data-req-arrow-row-size='2'] {
		height: 4.8rem;
	}

	&[data-req-arrow-row-size='3'] {
		height: 8.3rem;
	}

	&[data-req-active] {
		background-image: url('/cata/assets/talent_calc/down2.png');
	}
}

.talent-picker-req-arrow-rightdown {
	background-image: url('/cata/assets/talent_calc/rightdown.png');
	background-position: right top;
	left: 3rem;
	top: 1.4rem;
	width: 2.7rem;

	div:first-child {
		background-image: url('/cata/assets/talent_calc/down.png');
		background-repeat: no-repeat;
		background-position: bottom right;
		position: relative;
		height: 2rem;
		top: 0.9rem;
	}

	&[data-req-arrow-row-size='2'] {
		div:first-child {
			height: 5.5rem;
		}
	}

	&[data-req-active] {
		background-image: url('/cata/assets/talent_calc/rightdown2.png');
		div:first-child {
			background-image: url('/cata/assets/talent_calc/down2.png');
		}
	}
}

.talent-picker-req-arrow-leftdown {
	background-image: url('/cata/assets/talent_calc/leftdown.png');
	background-position: left top;
	top: 1.4rem;
	left: 1.3rem;
	width: 3rem;

	div:first-child {
		background-image: url('/cata/assets/talent_calc/down.png');
		background-repeat: no-repeat;
		background-position: bottom left;
		position: relative;
		height: 2rem;
		top: 0.9rem;
	}

	&[data-req-arrow-row-size='2'] {
		div:first-child {
			height: 5.5rem;
		}
	}

	&[data-req-active] {
		background-image: url('/cata/assets/talent_calc/leftdown2.png');
		div:first-child {
			background-image: url('/cata/assets/talent_calc/down2.png');
		}
	}
}

.talent-picker-req-arrow-left {
	background-image: url('/cata/assets/talent_calc/left.png');
	background-position: left center;
	right: 0.9rem;
	width: 2rem;

	&[data-req-active] {
		background-image: url('/cata/assets/talent_calc/left2.png');
	}
}

.talent-picker-req-arrow-right {
	background-image: url('/cata/assets/talent_calc/right.png');
	background-position: right center;
	left: 3rem;
	width: 1.3rem;

	&[data-req-active] {
		background-image: url('/cata/assets/talent_calc/right2.png');
	}
}
