.filters-menu {
	.modal-body {
		overflow: auto;
	}

	.menu-section {
		display: flex;
		@include media-breakpoint-down(sm) {
			display: block;
		}

		&:not(:last-child) {
			margin-bottom: var(--spacer-3);
		}

		.menu-section-header {
			flex: 1;
		}

		.menu-section-content {
			flex: 3;

			.ilvl-filters {
				display: grid;
				grid-template-columns: 1fr 0 1fr;
				grid-column-gap: var(--bs-modal-padding);

				.ilvl-filters-separator {
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}

			&[class*='filters-menu-section-'] {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				grid-column-gap: var(--bs-modal-padding);
			}
		}
	}
}
