// TODO: Find a new home for these
.blurred {
	filter: blur(2px);
	overflow: hidden;
	margin: 0;
}

.results-pending-overlay {
	position: absolute;
	inset: 0;
	display: none;
	align-items: center;
	justify-content: center;
	z-index: 1;
	background: var(--bs-black-alpha-50);
	max-height: 100vh;

	.results-content {
		.results-sim {
			div {
				margin-top: 5px;
			}
		}
	}
}
