.bulk-settings-button {
}

.bulk-results-header {
	margin-bottom: 0;
}

.bulk-results {
	& > .content-block-body {
		gap: var(--spacer-3);
	}
}

.bulk-result {
	padding-top: var(--spacer-3);
	margin-bottom: 0 !important;

	&:not(:first-child):not(:only-child) {
		border-top: var(--border-default);
	}

	.content-block-header {
		display: none;
	}

	.bulk-results-body {
		display: flex;
		gap: var(--spacer-3);
		flex-direction: row;
		align-items: center;
		flex-wrap: wrap;
		justify-content: flex-start;
	}

	.results-sim,
	.bulk-equipit {
		flex-shrink: 0;
	}

	.bulk-equipit {
		min-width: 140px;
	}

	.bulk-gear-combo {
		flex: 1;
		display: grid;
		grid-template-rows: max-content;
		justify-items: flex-start;
	}
}

.bulk-result-item-slot {
	color: aliceblue;
	margin-left: 0.5rem;
	font-size: calc(--h6-font-size * 0.5);
}

.bulk-results-header .content-block-header {
	border-bottom: none;
}

.bulk-result-header-positive,
.bulk-result-header-negative {
	font-weight: bold;
	margin-left: 0.5rem;
}

.bulk-result-header-positive {
	color: var(--bs-success);
}

.bulk-result-header-negative {
	color: var(--bs-danger);
}

.bulk-result-body-dps {
	font-size: var(--h6-font-size);
	text-align: left;

	.topline-result-avg {
		text-align: left;
	}
}

.bulk-items-text-line {
	margin-bottom: 1rem;
}

.bulk-item-picker {
	margin-bottom: 0.75rem;
}

.bulk-gear-combo {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
	grid-template-rows: auto;
	gap: var(--spacer-3);

	.item-picker-root {
		margin-bottom: 0;
	}
}

.blurred {
	filter: blur(2px);
	overflow: hidden;
	margin: 0;
}

.results-pending-overlay {
	position: absolute;
	inset: 0;
	display: none;
	align-items: center;
	justify-content: center;
	z-index: 1;
	background: var(--bs-black-alpha-50);
	max-height: 100vh;

	.results-content {
		.results-sim {
			div {
				margin-top: 5px;
			}
		}
	}
}

.bulk-tab {
	position: relative;

	.selector-modal-simall-button {
		visibility: hidden;
	}

	.bulk-tab-right {
		.content-block-body {
			gap: var(--spacer-3);
		}
	}

	.bulk-settings {
		.selector-modal-tab-pane {
			position: absolute;
		}

		.input-root {
			flex-direction: row;
			align-items: center;
			padding-bottom: var(--block-spacer);
			border-bottom: var(--border-default);

			label {
				flex-grow: 1;
			}
		}

		.bulk-check-input {
			width: 100%;
			height: 40px;
			padding: 5px;
			// margin-top: 15px;
			display: flex;
		}
	}

	.batch-search-input {
		width: 100%;
		border: var(--border-default);
		font-size: var(--btn-font-size);
	}

	.batch-search-results {
		list-style: none;
		background-color: var(--bs-table-row-even-bg);
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: column;
		border: var(--border-default);
		max-height: 30vh;
		overflow: auto;

		li {
			cursor: pointer;
			padding-top: 2px;
			padding-bottom: 2px;
			padding-left: var(--spacer-2);
			padding-right: var(--spacer-2);
			background-color: var(--bs-table-row-even-bg);
			transition: var(--link-transition);
			border: 1px solid transparent;
			transition-property: background-color, color, border;

			&:nth-child(odd) {
				background-color: var(--bs-table-row-odd-bg);
			}

			@media (pointer: fine) {
				&:hover {
					background-color: hsla(var(--bs-table-row-even-bg-hsl), 0.9) !important;
				}
			}
		}
	}

	.talent-loadout-text {
		font-size: smaller;
	}

	.talents-picker-container {
		display: flex;
		flex-direction: column;
		border-bottom: 1px solid var(--bs-white);

		.talents-container {
			display: flex;
		}
	}

	.default-gem-container {
		display: flex;
		flex-direction: column;
		border-bottom: 1px solid var(--bs-white);
		padding-bottom: 5px;

		.gem-socket-container {
			height: 40px;
			width: 40px;
		}

		.gem-icon {
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
		}

		.sockets-container {
			display: flex;
			gap: 3px;
		}
	}
}
