@use 'sass:map';

.content-block {
	display: flex;
	flex-direction: column;

	&:not(:last-child) {
		margin-bottom: var(--section-spacer);
	}
}

.content-block-header {
	border-bottom: var(--border-default);
	margin-bottom: var(--block-spacer);
	display: flex;
	align-items: baseline;
}

.content-block-body {
	display: flex;
	flex-direction: column;
}
