@use 'sass:map';

.content-block {
	display: flex;
	flex-direction: column;

	&:not(:last-child) {
		margin-bottom: $section-spacer;
	}
}

.content-block-header {
	border-bottom: $border-default;
	margin-bottom: $block-spacer;
	display: flex;
	align-items: baseline;
}

.content-block-body {
	display: flex;
	flex-direction: column;
}
