.dropdown-picker-button,
.dropdown-picker-item .dropdown-item {
	display: flex;
	align-items: center;
}

.dropdown-picker-item .dropdown-submenu {
	left: -1px !important;
}

.dropdown-picker-root .dropdown {
	width: auto;
}

.dropdown-header {
	color: var(--bs-gray-300);
}

.tippy-box[data-theme='dropdown-tooltip'] {
	max-width: 35vw;
	pointer-events: none;
	.tippy-content {
		text-align: left;
	}
}
