@import './enum_picker';
@import './list_picker';
@import './number_picker';

.encounter-picker-root {
	display: flex;
	flex-wrap: wrap;

	.execute-group {
		width: 100%;
		flex-direction: column;
		flex-wrap: nowrap;
	}

	.advanced-button {
		min-width: calc(50% - 0.5rem);

		@include media-breakpoint-down(xxl) {
			width: 100%;
		}
	}

	.list-picker-compact {
		.input-root {
			margin-bottom: 0;
		}
	}
}

.advanced-encounter-picker-modal {
	.modal-body {
		overflow: auto;
	}

	.encounter-picker {
		width: 33.33%;

		@include media-breakpoint-down(sm) {
			width: 50%;
		}
	}

	.execute-group {
		flex-direction: row;
	}

	.encounter-header {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;

		.picker-group {
			@include media-breakpoint-down(xl) {
				width: 100% !important;
			}

			&:first-child {
				width: 66%;
			}

			&:last-child {
				width: 100%;
			}
		}
	}

	.target-picker-root {
		display: flex;
		flex-direction: row;

		.target-picker-section {
			width: 33.33%;

			@include media-breakpoint-down(xl) {
				width: 100%;
				margin-right: 0;
			}

			&:not(:last-child) {
				margin-right: var(--spacer-3);
			}

			&.target-picker-section2 {
				padding-top: 1.2rem;
			}
		}
	}
}

.hide-threat-metrics {
	.advanced-encounter-picker-modal {
		// Use visibility to maintain thirds nicely for the modal layout
		.target-picker-section3.threat-metrics {
			display: block !important;
			visibility: hidden;

			@include media-breakpoint-down(xl) {
				display: none !important;
			}

			.input-root {
				display: none;
			}
		}
	}
}
