.filters-menu {
	.menu-section:not(:last-child) {
		margin-bottom: var(--spacer-3);
	}

	[class*="filters-menu-section-"] {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-column-gap: var(--bs-modal-padding);
	}
}
