@use 'sass:map';

@import './filters_menu';

$source-cell-width: 16rem;
$ep-cell-width: 6rem;
$favorite-cell-width: 2rem;

.gear-picker-root {
	display: flex;
	flex-wrap: wrap;
	width: 100%;

	.gear-picker-left,
	.gear-picker-right {
		width: 50%;
	}

	.gear-picker-left {
		.item-picker-root {
			flex-direction: row;
			text-align: left;

			// Add space to separate weapon categories
			&:nth-child(6) {
				margin-bottom: 2 * map.get($spacers, 3);
			}
		}
	}

	.gear-picker-right {
		.item-picker-root {
			flex-direction: row-reverse;

			.item-picker-labels-container {
				align-items: flex-end;
			}
		}
	}
}

.item-picker-root {
	display: flex;

	&:not(:last-child) {
		margin-bottom: $block-spacer;
	}

	.item-picker-sockets-container {
		@include vertical-bottom;
		@include horizontal-center;
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.item-picker-labels-container {
		padding: map-get($spacers, 2);
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		.item-picker-name {
			color: white;
			font-size: map-get($font-sizes, 6);
			letter-spacing: normal;
		}
		.item-picker-reforge {
			color: $item-quality-uncommon;
			font-size: $content-font-size;
			letter-spacing: normal;
		}
		.item-picker-enchant {
			color: $item-quality-uncommon;
			font-size: $content-font-size;
			letter-spacing: normal;
		}
	}
}

.item-picker-icon-wrapper {
	position: relative;
	width: 4rem;
	height: 4rem;
	border: $border-default;
}

.item-picker-icon {
	@include wowhead-background-icon;
	height: 100%;
	width: 100%;
}

@include media-breakpoint-down(xl) {
	.gear-picker-right {
		margin-bottom: 2 * map.get($spacers, 3);
	}
}

@include media-breakpoint-down(md) {
	.gear-picker-root {
		.gear-picker-left {
			.item-picker-root:last-child {
				margin-bottom: map.get($spacers, 5);
			}
		}

		.gear-picker-right {
			.item-picker-root {
				flex-direction: row;

				.item-picker-labels-container {
					align-items: flex-start;
				}
			}
		}
	}
}

.gear-picker-modal-slots {
	// Without this the slots are not clickable
	pointer-events: auto;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-right: -1px;
	z-index: 1;

	.item-picker-icon-wrapper {
		width: $icon-size-md;
		height: $icon-size-md;
		border-color: var(--bs-modal-border-color);

		&.active {
			width: calc($icon-size-md + map-get($spacers, 2));
			height: calc($icon-size-md + map-get($spacers, 2));
			border-width: 2px;
			border-right: 0;
		}

		&:nth-child(6),
		&:nth-child(14) {
			// Spacing between ragdoll sections
			margin-bottom: map-get($spacers, 3);
		}

		&:not(:first-child) {
			margin-top: -1px;
		}
	}
}

.selector-modal {
	.selector-modal-title {
		margin-bottom: 0;
	}

	.modal-header {
		padding-bottom: 0;

		.selector-modal-tabs {
			border-bottom: 0;

			.selector-modal-tab-gem {
				height: 100%;
				padding: 0;
				padding: calc(var(--bs-nav-link-padding-y) / 2) calc(var(--bs-nav-link-padding-x) / 2);
				margin-left: calc(var(--bs-nav-link-padding-x) / 2);
				margin-right: calc(var(--bs-nav-link-padding-x) / -2);
				display: flex;
				align-items: center;
				opacity: 0.7;
				transition: opacity 0.15s ease-in-out;

				&:hover,
				&.active {
					opacity: 1;
				}

				.gem-socket-container {
					--gem-width: 2rem;
				}
			}
		}
	}
}

.selector-modal-tab-content {
	.selector-modal-tab-pane {
		padding: 0;

		.selector-modal-filters {
			margin-bottom: map.get($spacers, 4);
			display: flex;
			align-items: center;

			& > *:not(:last-child) {
				margin-right: map-get($spacers, 2);
			}

			input,
			select {
				padding-top: $btn-padding-y;
				padding-bottom: $btn-padding-y;
				font-size: $btn-font-size;
			}
		}
	}
}

.selector-modal-search {
	max-width: 12rem;
}

.selector-modal-phase-selector {
	min-width: 7rem;

	.phase-selector {
		margin-bottom: 0;
	}
}

.selector-modal-remove-button {
	margin-left: auto;
}

.selector-modal-list-labels {
	display: flex;
	padding-right: map-get($spacers, 2);
	margin-right: map-get($spacers, 3);
	margin-bottom: map-get($spacers, 2);
	font-size: 1.125rem;
	justify-content: space-between; // Ensures labels are evenly spaced

	label {
		font-weight: normal;
	}

	.item-label {
		flex: 1;
	}

	.source-label {
		width: $source-cell-width;
		margin-left: map-get($spacers, 3);
	}
	.reforge-label {
		flex-grow: 1; // Allows it to stay centered by taking more space
		justify-content: center; // Centers the content inside the label
	}
	.ep-label {
		width: $ep-cell-width;
		margin-left: map-get($spacers, 3);
		display: flex;
		align-items: center;
		float: right;
	}

	.favorite-label {
		width: $favorite-cell-width;
		margin-left: map-get($spacers, 3);
	}
}

.selector-modal-list {
	width: 100%;
	max-height: 65vh;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0;
	margin-bottom: 0;

	&.hide-ep {
		.selector-modal-list-item-ep {
			display: none;
		}
	}
}

// TODO: Move all of these to a shared file, as they're used in other places too
.selector-modal-list-item {
	padding: 0.5rem;
	display: flex;
	align-items: center;
	background-color: #111218;

	&:nth-child(2n) {
		background: $table-row-even-bg;
	}

	&:nth-child(2n + 1) {
		background: $table-row-odd-bg;
	}

	&:hover {
		background: #333;
	}

	&.active {
		.selector-modal-list-item-icon {
			outline: 2px solid $success;
		}
	}
	&.reforge {
		display: flex;
		justify-content: space-between; /* Adjusts children to start and end */
		width: 100%; /* Ensure it fills its container */
		color: green;

		.loss,
		.gain {
			flex-shrink: 0; /* Prevents shrinking */
		}

		.loss {
			color: red;
		}

		.gain {
			margin-left: 5px;
			color: green;
		}

		.ep {
			margin-left: auto; /* Pushes the EP to the far right */
			padding-left: 20px; /* Ensures some space between it and any preceding content */
			color: blue; /* Example color */
		}
	}

	&.reforge.selected {
		// Style for the selected reforge item
		opacity: 1; // Reset opacity to full for visibility
		border: 1px solid #f0f0f0; // Off-white border
	}
	.selector-modal-list-item-link {
		display: flex;
		align-items: center;
	}

	.selector-modal-list-label-cell {
		flex: 1;
		display: flex;
		align-items: center;
	}

	.selector-modal-list-item-icon {
		@include wowhead-background-icon;
		width: 3rem;
		height: 3rem;
		border: $border-default;
	}

	.selector-modal-list-item-name {
		font-size: 1.125rem;
		margin-left: map-get($spacers, 3);
		letter-spacing: normal;
		font-weight: normal;
		cursor: pointer;
	}
}

.selector-modal-list-item-source-container {
	margin-left: map-get($spacers, 3);
	width: $source-cell-width;
}

.selector-modal-list-item-favorite {
	margin-left: map-get($spacers, 3);
	color: $brand;
}

.selector-modal-list-item-favorite:hover {
	text-shadow:
		0 0 10px white,
		0 0 10px white;
}

.selector-modal-list-item-ep {
	width: $ep-cell-width;
	margin-left: map-get($spacers, 3);
	display: flex;
	align-items: center;

	& > span {
		display: inline-block;
		color: white;
		text-align: right;
	}

	.selector-modal-list-item-ep-delta {
		margin-left: map-get($spacers, 1);
		font-size: 0.8rem;
	}
}

.heroic-label {
	margin-left: map-get($spacers, 1);
	color: $item-quality-uncommon;
}

.reforge-value {
	display: inline-block;
	width: 10rem;
}

@include media-breakpoint-down(lg) {
	.item-picker-icon {
		width: 3rem;
		height: 3rem;
	}
}
