.input-root {
	width: 100%;
	margin-bottom: var(--block-spacer);
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	&.disabled {
		filter: opacity(0.5);
	}

	&:not(.input-inline) {
		label {
			white-space: nowrap;
		}
	}
}

.input-inline {
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	label {
		margin-right: var(--spacer-2);
	}

	input,
	select {
		width: 5rem;
	}
}

.picker-group {
	width: 100%;
	display: flex;

	@include media-breakpoint-down(xl) {
		width: 100%;
		flex-wrap: wrap;
	}

	& > * {
		flex: 1;

		&:nth-child(2n) {
			@include media-breakpoint-down(xl) {
				margin-right: 0 !important;
			}
		}

		&:not(:last-child) {
			margin-right: var(--spacer-3);
		}
	}
}
