.input-root {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	&.disabled {
		filter: opacity(0.5);
	}

	&:not(.input-inline):not(.icon-picker) {
		@include media-breakpoint-down(md) {
			flex-direction: column !important;
			align-items: flex-start !important;
			gap: calc(var(--spacer-2));
		}

		label {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			max-width: 100%;
		}
	}

	&:has(.input-description) {
		flex-wrap: wrap;
	}
}

.input-inline {
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	label {
		margin-right: var(--spacer-2);
		margin-bottom: 0;
	}

	input:not(.form-check-input),
	select {
		width: 5rem;
	}
}

.input-description {
	margin-top: var(--spacer-1);
	order: 3;
	padding: var(--spacer-2);
	background-color: $input-bg;
	font-size: var(--content-font-size);
	width: 100%;

	*:last-child {
		margin-bottom: 0;
	}
}

.picker-group {
	width: 100%;
	display: grid;
	gap: var(--block-spacer);
	grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));

	.input-root {
		margin-bottom: 0;
	}
}
