.input-root {
	width: 100%;
	margin-bottom: var(--block-spacer);
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	&.disabled {
		filter: opacity(0.5);
	}

	&:not(.input-inline) {
		label {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			max-width: 100%;
		}
	}
}

.input-inline {
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	label {
		margin-right: var(--spacer-2);
		margin-bottom: 0;
	}

	input:not(.form-check-input),
	select {
		width: 5rem;
	}
}

.picker-group {
	width: 100%;
	display: grid;
	gap: var(--spacer-3);
	grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
	margin-bottom: var(--spacer-3);

	.input-root {
		margin-bottom: 0;
	}
}
