.list-picker-root {
	flex-direction: column;
	align-items: center;

	&:not(:last-child) {
		margin-bottom: var(--block-spacer);
	}

	.list-picker-title {
		width: 100%;
		padding-bottom: var(--spacer-2);
		border-bottom: var(--border-default);
		margin-bottom: var(--block-spacer);
		font-size: 1rem;
		font-weight: bold;
	}

	.list-picker-items {
		width: 100%;

		.list-picker-item-container {
			border: var(--border-default);

			&:not(:last-child) {
				margin-bottom: var(--spacer-3);
			}

			&.inline {
				display: flex;

				.list-picker-item-header {
					padding: 0;
					border: 0;
					margin: 0;
					flex: 0;
				}
			}

			&:not(.inline) {
				padding: var(--spacer-3) var(--spacer-3) 0 var(--spacer-3);

				.list-picker-item-header {
					.list-picker-item-action:first-of-type {
						margin-left: auto;
					}
				}
			}

			.list-picker-item-header {
				padding-bottom: var(--block-spacer);
				border-bottom: var(--border-default);
				margin-bottom: var(--block-spacer);
				display: flex;
				align-items: center;
				flex: 1;

				.list-picker-item-title {
					margin-bottom: 0;
				}

				.list-picker-item-action {
					margin-left: var(--spacer-2);
				}
			}
		}
	}

	.list-picker-new-button {
		width: 100%;
	}

	&.horizontal {
		flex-direction: row;
		align-items: center;

		.list-picker-items {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
		}
	}

	&.list-picker-compact {
		.list-picker-item-container {
			border: 0;
			padding: 0 !important;
		}
		.list-picker-item-header {
			display: none !important;
		}

		&:not(:has(.list-picker-items > *)) {
			display: none;
		}
	}
}
