@use 'sass:map';

.saved-data-manager-root {
	margin-bottom: calc(var(--block-spacer) * 2);

	.saved-data-container {
		display: flex;
		flex-direction: column;

		.saved-data-presets,
		.saved-data-custom {
			display: flex;
			flex-wrap: wrap;
		}
	}

	.saved-data-create-container {
		display: flex;
		flex-direction: column;

		.saved-data-save-input,
		.saved-data-save-button {
			width: 10rem;
		}

		.saved-data-save-input {
			margin-bottom: var(--block-spacer);

			@include media-breakpoint-down(xxl) {
				width: 100%;
			}
		}

		.saved-data-save-button {
			@include media-breakpoint-down(xxl) {
				width: 100%;
			}
		}
	}
}

.saved-data-set-chip {
	padding: 0;
	margin-bottom: var(--block-spacer);
	margin-right: var(--block-spacer);
	border: 1px solid var(--bs-primary);
	display: flex;
	font-size: var(--content-font-size);
	font-weight: normal;
	transition: var(--btn-transition);

	&.active {
		background-color: var(--bs-primary);

		.saved-data-set-name,
		.saved-data-set-delete {
			color: var(--theme-component-text-color);
		}
	}

	&:hover:not(.active) {
		background: var(--bs-primary-dampened);
	}

	&.disabled {
		display: none;
	}

	.saved-data-set-name {
		padding: var(--spacer-2);
		color: var(--bs-body-color);
	}

	.saved-data-set-delete {
		padding: var(--spacer-2) 0;
		margin-right: var(--spacer-2);
		color: var(--bs-body-color);
	}
}
