@use 'sass:map';

.saved-data-manager-root {
	.saved-data-container {
		display: flex;
		flex-direction: column;
		gap: var(--block-spacer);

		.saved-data-presets,
		.saved-data-custom {
			display: flex;
			flex-wrap: wrap;
			gap: var(--block-spacer);
		}
	}

	.saved-data-create-container {
		display: flex;
		flex-direction: column;

		.saved-data-save-input,
		.saved-data-save-button {
			width: 10rem;
		}

		.saved-data-save-input {
			margin-bottom: var(--block-spacer);
		}
	}
}

.saved-data-set-chip {
	@extend .btn;

	padding: 0;
	border: 1px solid var(--bs-primary) !important;
	display: flex;
	font-size: var(--content-font-size);
	font-weight: normal;
	transition: $btn-transition;

	&.active {
		background-color: var(--bs-primary);

		.saved-data-set-name,
		.saved-data-set-delete {
			color: var(--theme-component-text-color);
		}
	}

	&:hover:not(.active) {
		background: var(--bs-primary-dampened);
	}

	&.disabled {
		display: none;
	}

	.saved-data-set-name {
		padding: var(--spacer-2);
		color: $body-color;
	}

	.saved-data-set-delete {
		padding: var(--spacer-2) 0;
		margin-right: var(--spacer-2);
		color: $body-color;
	}
}

@include media-breakpoint-down(xxl) {
	.saved-data-manager-root {
		.saved-data-create-container {
			.saved-data-save-input {
				width: 100%;
			}

			.saved-data-save-button {
				width: 100%;
			}
		}
	}
}
