.tab-pane-content-container {
	display: flex;
	gap: var(--container-padding);
	flex-wrap: wrap;

	@include media-breakpoint-down(xl) {
		flex-direction: column;
	}

	@include media-breakpoint-down(lg) {
		gap: var(--section-spacer);
	}

	.tab-panel-left,
	.tab-panel-right {
		width: 100%;
	}

	.tab-panel-left {
		display: grid;
		gap: var(--section-spacer);
		grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
		flex: 4;

		@include media-breakpoint-down(lg) {
			display: flex;
			flex-direction: column !important;
		}
	}

	.tab-panel-right {
		min-width: 200px;
		display: flex;
		flex-direction: column;
		gap: var(--section-spacer);
		flex: 1.25;
	}

	.tab-panel-col {
		display: flex;
		flex-direction: column;
		gap: var(--section-spacer);
	}
}
