.sim-title {
	// Same as sim header
	position: sticky;
	top: -1px;
	height: calc(var(--sim-header-height) + 1px);
	border-bottom: var(--border-default);
	z-index: calc(var(--sidebar-z-index) + 1);

	.sim-title-dropdown-root {
		height: calc(var(--sim-header-height) - 1px);

		.sim-link-dropdown {
			height: 100%;

			& > .dropdown-menu {
				width: 100%;
			}
		}
	}

	.dropdown-menu {
		background: var(--bs-body-bg);
		border: none;
		z-index: 1500;

		.dropdown-menu {
			min-width: 300px;
		}
	}

	.sim-link {
		background: var(--bs-body-bg);
		height: 100%;
		width: 100%;

		&:hover,
		&:focus,
		&.active,
		&.show {
			background: var(--dropdown-link-hover-bg);
		}

		.sim-link-content {
			padding-left: var(--gap-width);
			padding-right: var(--gap-width);
		}
	}
}
