.tab-pane-content-container {
	display: flex;
	gap: var(--container-padding);
	flex-wrap: wrap;

	@include media-breakpoint-down(xl) {
		flex-direction: column;
	}

	.tab-panel-left,
	.tab-panel-right {
		width: 100%;
	}

	.tab-panel-left {
		flex: 4;
		&:has(.tab-panel-col) {
			display: grid;
			gap: var(--section-spacer);
			grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
		}
	}

	.tab-panel-right {
		flex: 1.25;
		display: flex;
		flex-direction: column;
		min-width: 200px;
	}
}
