.sim-tab {
	.tab-pane-content-container {
		display: flex;
		@include media-breakpoint-down(xl) {
			flex-direction: column;
		}

		.tab-panel-left {
			display: flex;
			flex: 4;

			@include media-breakpoint-down(md) {
				flex-direction: column;
			}
		}

		.tab-panel-right {
			margin-left: var(--container-padding);
			display: flex;
			flex-direction: column;
			flex: 1.25;
			@include media-breakpoint-down(xl) {
				margin-left: 0;
			}
		}

		.tab-panel-col {
			flex: 1;

			&:not(:last-child) {
				margin-right: var(--section-spacer);
			}
		}

		.tab-panel-col {
			flex: 1;

			&:not(:last-child) {
				margin-right: var(--section-spacer);
			}
		}
	}
}
